@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model IQueryable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    Layout = "_Layout";
}

<div class="uk-grid" data-uk-grid>
<div class="uk-width-2-3@xl">
    <div class="widjet --filters">
        <div class="widjet__head">
            <h3 class="uk-text-lead">@Localizer["friends"]</h3>
        </div>
        <div class="widjet__body">
            <div class="uk-grid uk-flex-middle uk-grid-small" data-uk-grid>
                <div class="uk-width-expand@s">
                    <div class="search">
                        <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="@Localizer["search"]"></div>
                    </div>
                </div>
                <div class="uk-width-auto"><select class="js-select">
                        <option value="">@Localizer["filter"]: Active</option>
                        <option value="Active 1">Active 1</option>
                        <option value="Active 2">Active 2</option>
                        <option value="Active 3">Active 3</option>
                    </select></div>
                <div class="uk-width-auto"><button class="ico_more" href="#"></button></div>
            </div>
        </div>
    </div>
    <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid>
        @foreach (var user in Model)
        {
            <div>
                <div class="user-item --active">
                    <div class="user-item__avatar"><img src="~/img/user-list-1.png" alt="user"></div>
                    <div class="user-item__box">
                        <div class="user-item__name">@user.UserName</div>
                        <div class="user-item__playing">@Localizer["playing"]<b>Grand Theft Auto V</b></div>
                    </div>
                    <div class="user-item__more"><a asp-area="Account" asp-controller="Friends" asp-action="Write" asp-route-id="@user.Id">@Localizer["write"]</a></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="uk-width-1-3@xl">
    <div class="widjet --friend-requests">
        <div class="widjet__head">
            <h3 class="uk-text-lead">@Localizer["friendrequests"]</h3>
        </div>
        <div class="widjet__body">
            <ul class="friend-requests-list">
                <li class="friend-requests-item">
                    <div class="friend-requests-item__avatar"><img src="~/img/user-list-5.png" alt="user"></div>
                    <div class="friend-requests-item__name">Fred Emil</div>
                    <div class="friend-requests-item__action"><button class="confirm ico_tick-circle" type="button"></button><button class="reject ico_trash" type="button"></button></div>
                </li>
                <li class="friend-requests-item">
                    <div class="friend-requests-item__avatar"><img src="~/img/user-list-8.png" alt="user"></div>
                    <div class="friend-requests-item__name">Leo Maxwell</div>
                    <div class="friend-requests-item__action"><button class="confirm ico_tick-circle" type="button"></button><button class="reject ico_trash" type="button"></button></div>
                </li>
                <li class="friend-requests-item">
                    <div class="friend-requests-item__avatar"><img src="~/img/user-list-4.png" alt="user"></div>
                    <div class="friend-requests-item__name">Olivia Mark</div>
                    <div class="friend-requests-item__action"><button class=" ico_tick-circle" type="button"></button><button class="reject ico_trash" type="button"></button></div>
                </li>




            </ul>
        </div>
    </div>
</div>
</div>