@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model WebTeamHost.App.Features.Users.Commands.Register.RegisterUserCommand;
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TeamHost - @Localizer["joinnowandplaymightygames"]</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/libs.min.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>

<body class="page-login">

    <!-- Loader
    <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    Loader end-->

    <div class="page-wrapper">
        <main class="page-first-screen">
            <div class="uk-grid uk-grid-small uk-child-width-1-2@s uk-flex-middle uk-width-1-1" data-uk-grid>
                <div class="logo-big">
                    <span>TeamHost</span>
                    <h1>Join now and play mighty games!</h1>
                </div>
                <div>
                    <div class="form-login">
                        <div class="form-login__social">
                        </div>
                        <div class="form-login__box">
                            <div class="uk-heading-line uk-text-center"><span>@Localizer["registration"]</span></div>
                            <form asp-action="Register" asp-controller="Profile" asp-area="Account" method="post">
                                <div class="uk-margin">
                                    <input class="uk-input" asp-for="Email" type="text" placeholder="@Localizer["email"]">
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input" asp-for="Username" type="text" placeholder="@Localizer["username"]">
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input" asp-for="Password" type="password" placeholder="@Localizer["password"]">
                                </div>
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-danger uk-width-1-1" type="submit">@Localizer["register"]</button>
                                </div>
                                <hr>
                                <div class="uk-text-center">
                                    <span>@Localizer["doyouhaveanaccount"]</span>
                                    <a class="uk-margin-small-left" asp-action="Login" asp-controller="Profile" asp-area="Account">@Localizer["login"]</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="~/js/libs.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>